<%= error_messages_for(f.object) %>

<div class="card mb-4">
    <div class="card-body" summary="Event form fields">
      <div class="mb-3">
        <%= f.label :hours, {class: "form-label"} %>
        <%= f.number_field :hours, {class: "form-control"} %>
      </div>
      <div class="mb-3">
        <%= f.label :description, {class: "form-label"} %>
        <%= f.text_area :description, {class: "form-control"} %>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-4">
            <%= f.label :date, {class: "form-label"} %>
            <%= f.date_field :date, {max: Date.today, class: "form-control"} %>
          </div>
        </div>
      </div>



    </div>
</div>


  