<h2>Approved</h2>

<% if service_hours.length() == 0 %>
  <p>No Service Hours Approved</p>
<% else %>
  <table class="table table-striped" summary="Event list">
    <tr class="header">
      <th>Description</th>
      <th>Date</th>
      <th>Hours</th>
      <th>Submitted By</th> 
      <th>Approved?</th>
      <th>Actions</th>
    </tr>
    <% service_hours.each do |service| %>
      <tr>
        <td><%= service.description %></td>
        <td><%= service.format_date %></td>
        <td><%= service.hours %></td>
        <td>
        <% unless Member.find_by(id: service.member_id).nil? || Member.find_by(id: service.member_id) == 0 %>
          <%= Member.find_by(id: service.member_id).name %>
        <% end %>          
        </td>
        <td><%= image_tag service.approved_img_path, height: 30, alt: "approved checkmark", class: "check" %></td>
        <td>
          <div><%= link_to("Details", service_path(service), :class => 'action show') %></div>
          <div><%= link_to("Edit", edit_service_path(service), :class => 'action edit') %></div>
          <div><%= link_to("Delete", delete_service_path(service), :class => 'action delete') %></div>
        </td>
      </tr>
    <% end %> 
  </table>
<% end %>