<%= link_to("<< Back to List", services_path, :class => 'back-link') %>

<div class="service show">
  <h2>Show Service</h2>

  <table summary="Service detail view">
    <tr>
      <th>Hours</th>
      <td><%= @service.first.hours %></td>
      
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @service.first.description %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @service.first.format_date %></td>
    </tr>
  </table>

    <div class="col-2"><%= link_to("Edit", edit_service_path(@service), :class => 'action edit') %></div>
    <div class="col-2"><%= link_to("Delete", delete_service_path(@service), :class => 'action delete') %></div>

</div>

