<%= form_with model: @service, url: service_logger_index_path do |form| %> 
  
<div class="mb-3">
    <%= form.label :hours %>
    <%= form.number_field :hours, class:"form-control" %>
  </div>

  
<div class="mb-3">
    <%= form.label :'Service Hours ID' %>
    <%= form.number_field :servicehoursID, class:"form-control" %>
  </div>

  
<div class="mb-3">
    <%= form.label :'Service Hour List ID' %>
    <%= form.number_field :servicehourlistID, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :'date' %>
    <%= form.date_field :date, { :start_year => 1980, class:"form-control"} %>
  </div>

  <div class="mb-2">
            <%= form.label "Approval", {class: "form-label"} %>
            <%= form.check_box :isApproved, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit Time", class:"btn btn-primary" %>
  </div>

  <% end %>