<%= form_with model: @service, url: service_logger_index_path do |form| %> 
  
<div class="mb-3">
    <%= form.label :hours %>
    <%= form.number_field :hours, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :'date volunteered' %>
    <%= form.date_field :date, { :start_year => 1980, class:"form-control"} %>
  </div>

  <div class="mb-3">
    <%= form.label :activity %>
    <%= form.text_field :activity, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description_service %>
    <%= form.text_field :description_service, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit Time", class:"btn btn-primary" %>
  </div>

  <% end %>