    <%= error_messages_for(f.object) %>


    
    <div class="card mb-4 p-3">
        <div class="card-body" summary="Event form fields">
          <div class="mb-3">
            <%= f.label :email, {class: "form-label"} %>
            <%= f.text_field :email, {class: "form-control", required: true} %>
          </div>

          <div class="mb-2">
            <%= f.label "User is an Admin", {class: "form-label"} %>
            <%= f.check_box :isAdmin, {class: "form-check-label"} %>
          </div>
        </div>
    </div>


  