  <% if events.length() == 0 %>
    <p>There are no events here</p>
  <% else %>
  
  
  <table class="mt-3 table listing" summary="Event list">
    <tr class="header">
      <th>#</th>
      <th>Event</th>
      <th>Description</th>
      <th>Location</th>
      <th>Is Mandatory</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    <% events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.formatName %></td>
      <td class="text-break"><%= event.description %></td>
      <td><%= event.formatLocation %></td>
      <td class="center"><%= event.isMandatory ? 'Yes' : 'No' %></td>
      <td><%= event.formatDate %></td>
      <td><%= event.formatTime %></td>

      <td>
        <div><%= link_to("Attend", event_path(event), :class => 'action show') %></div>
        <div><%= link_to("Details", event_path(event), :class => 'action show') %></div>
        <div><%= link_to("Edit", edit_event_path(event), :class => 'action edit') %></div>
        <div><%= link_to("Delete", delete_event_path(event), :class => 'action delete') %></div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>