<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

    .btn{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      width: 10rem;
      margin-bottom: 0.5rem;
    }

    .table-name{
      text-align: center;
    }
  </style>
  <body>
    <div class="container mt-5 events show">
      <div class="row">
        <div class="col">
          <h2 class="table-name">Event Info</h2>
          <table class="table table-striped" summary="Event detail view">
            <tr>
              <th>Name</th>
              <td><%= @event.name %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td><%= @event.description %></td>
            </tr>
            <tr>
              <th>Location</th>
              <td><%= @event.location %></td>
            </tr>
            <tr>
              <th>Date</th>
              <td><%= @event.format_date %></td>
            </tr>
            <tr>
              <th>Time</th>
              <td><%= @event.formatTime %></td>
            </tr>
            <tr>
              <th>Mandatory? </th>
              <td><%= @event.isMandatory ? 'true' : 'false' %></td>
            </tr>
            <tr>
              <th>Created</th>
              <td><%= @event.created_at.strftime("%I:%M %P %B %-m, %Y") %></td>
            </tr>
            <tr>
              <th>Updated</th>
              <td><%= @event.updated_at.strftime("%I:%M %P %B %-m, %Y") %></td>
            </tr>
          </table>
        </div>
        <div class="col">
          <h2 class="table-name">Attendees</h2>
          <ul>
            <% @event.members.each do |member| %>
              <li><%= member.name %> (<%= member.email %>)</li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if current_member.isAdmin %>
        <div class="form-buttons">
          <p>
            <%= button_to("EDIT", edit_event_path(@event), :class => 'action edit btn btn-primary') %>
            <%= button_to("DELETE", delete_event_path(@event), :class => 'action delete btn btn-primary') %>
            <%= button_to("BACK", events_path, :class => 'back-link btn btn-primary') %>
          </p>
        </div>
      <% end %>
    </div>
  </body>
</html>