
<div class="container mt-5 events show">

  <%= link_to("<< Back to List", events_path, :class => 'back-link') %>


  <div class="row">
    <div class="col">
      <h2>Event Info</h2>
      <table summary="Event detail view">
        <tr>
          <th>Name</th>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @event.description %></td>
        </tr>
        <tr>
          <th>Location</th>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <th>Date</th>
          <td><%= @event.formatDate %></td>
        </tr>
        <tr>
          <th>Time</th>
          <td><%= @event.formatTime %></td>
        </tr>
        <tr>
          <th>Mandatory? </th>
          <td><%= @event.isMandatory ? 'true' : 'false' %></td>
        </tr>
        <tr>
          <th>Created</th>
          <td><%= @event.created_at %></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><%= @event.updated_at %></td>
        </tr>
      </table>
    </div>
      <div class="col">
        <h2>Attendees</h2>
        <ul>
          <% @event.members.each do |member| %>
          <li><%= member.name %> (<%= member.email %>)</li>
          <% end %>
        </ul>
      </div>
  </div>
    <div class="col-2"><%= link_to("Edit", edit_event_path(@event), :class => 'action edit') %></div>
    <div class="col-2"><%= link_to("Delete", delete_event_path(@event), :class => 'action delete') %></div>

</div>

