<% content_for(:html_title) { 'Points Tracker' } %>

<h1>You're logged in to Admin View! Welcome, <%= current_member.name%></h1>

<!-- <%= link_to("Home", {controller: "home", action: "index"}) %> -->
<br/>

<div class="mt-5 container home index">
<h2>Service Hours:</h3>
<table class="mt-3 table listing">
  <thead>
    <tr>
      <th>Member</th>
      <th>Approved Service Hours</th>
      <th>Unapproved Service Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= @service_hours.where(member_id: member.id, isApproved: true,).sum(:hours) %></td>
        <td><%= @service_hours.where(member_id: member.id, isApproved: false).sum(:hours) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="mt-5 container home index">
<h2>Events: </h2>
<table class="mt-3 table listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Mandatory</th>
      <th>Head Count</th>
    </tr>
  </thead>  
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.format_date %></td>
        <td><%= event.isMandatory%></td>
        <td><%= event.members.count%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
