<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@500&display=swap');

  h1{
    font-family: 'Archivo Black', sans-serif;
    margin: 5rem auto;
  }

  p{
    font-weight: 500;
  }

  th{
    text-align: center;
  }

  td{
    font-family: 'Montesserat', sans-serif;
  }

  /* .blink {
    animation: blinkingText 1.5s infinite;
    color: red;
    font-family: Montserrat;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    width: 50%;
  }

  @keyframes blinkingText{
    0%{     color: red;    }
    25%{    color: rgb(255, 90, 90); }
    50%{    color: rgb(255, 180, 180); }
    75%{    color: rgb(255, 90, 90); }
    100%{   color: red; }
  } */

  .container{
    font-family: 'Montserrat', sans-serif;
    margin: 10rem auto;
    text-align: center;
  }

  .col.left{
    margin-right: 3rem;
  }

  .col.right{
    margin-left: 3rem;
  }
</style>
<body>
  <% content_for(:html_title) { 'Points Tracker' } %>

  <div class="container mt-5 events show">
    <div class="row">
      <div class="col left">
        <table class="table table-striped" summary="Event detail view">
          <h1>Service Hours</h1>
          <thead>
          <tr>
            <th>Member</th>
            <th>Approved Service Hours</th>
            <th>Unapproved Service Hours</th>
          </tr>
        </thead>
        <tbody>
          <% @members.where(isAdmin: false).each do |member| %>
            <tr>
              <td><%= member.name %></td>
              <td><%= @service_hours.where(member_id: member.id, isApproved: true,).sum(:hours) %></td>
              <td><%= @service_hours.where(member_id: member.id, isApproved: false).sum(:hours) %></td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
      <div class="col right">
        <table class="table table-striped" summary="Event detail view">
          <h1>Events</h1>
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Mandatory</th>
              <th>Head Count</th>
            </tr>
          </thead>  
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event.name %></td>
                <td><%= event.format_date %></td>
                <td><%= event.isMandatory%></td>
                <td><%= event.members.count%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>