<% content_for(:html_title) { 'Points Tracker' } %>

<h1>You're logged in! Welcome, <%= @admin.full_name%></h1>

<%= link_to "Sign Out", destroy_admin_session_path %>


<!-- <%= link_to("Home", {controller: "home", action: "index"}) %> -->
<br/>

<title>0 points</title>

<div>
<h2>Service Hours</h3>
<table class="mt-3 table listing">
  <thead>
    <tr>
      <th>Date</th>
      <th>Number of Hours</th>
      <th>Approved</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= cookies[:current_admin_id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div>
<h2>Events</h2>
<table class="mt-3 table listing">
  <thead>
    <tr>
      <th>Date</th>
      <th>Mandatory</th>
    </tr>
  </thead>  
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.isMandatory%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
