
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@500&display=swap');

    h1{
      font-family: 'Archivo Black', sans-serif;
      
    }

    p{
      font-weight: 500;
      margin-bottom: 1rem;
    }

    th{
      text-align: center;
      
    }

    td{
      font-family: 'Montesserat', sans-serif;
    }

    .container{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }

    .col.left{
      margin-right: 3rem;
    }

    .col.right{
      margin-left: 3rem;
    }
    @media (max-width: 1000px) {
      .col.left{
        margin-right: 0rem;
      }
  
      .col.right{
        margin-left: 0rem;
      }

      h1{
      
      font-size: 8vw;
    }
    th{
      
      font-size: 2.5vw;
      
    }
    
}
  </style>

    <%= flash[:alert] %>
    <% content_for(:html_title) { 'Points Tracker' } %>
    <% pp_val = (100*current_member.events.where('datetime < ?', Time.now).where(isMandatory: false).length / @event_num) %>
    <% mm_val = @mandatory_event_num - @member_mandatory_event_num %>
    <% s_val = @service_hours.where(isApproved: true).sum(:hours) %>

    <div class="container mt-5 events show">
    <h2 class="center">Welcome, <%= current_member.name%></h2><br>
      <div class="row">
        <div class="col left">
          <table class="table table-striped" summary="Event detail view">
            <h1>PP:</h1>
            <br>
            <h4 class="<% if mm_val >= 6 %>
            <%= 'reactive_color_red' %>
            <% elsif mm_val > 3 %>
            <%= 'reactive_color_yellow' %>
            <% else %>
            <%= 'reactive_color_green' %>
            <% end %>
            ">
            <%= mm_val %> Missed Mandatory Event<% if mm_val != 1%><%= 's' %><% end %>
            </h4>
            <h4 class="<% if pp_val > 60 %>
            <%= 'reactive_color_green' %>
            <% elsif pp_val > 30 %>
            <%= 'reactive_color_yellow' %>
            <% else %>
            <%= 'reactive_color_red' %>
            <% end %>
            ">
              <% if @event_num > 0 %> 
                <%= pp_val %>
              <% else %> 
                <%= 0 %>
              <% end %>% Attended
            </h4>  
            <h2>Upcoming Events</h2>       
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Mandatory</th>
              </tr>
            </thead>  
            <tbody>
              <% @upcoming_events.each do |event| %>
                <tr>
                  <td><%= event.name %></td>
                  <td><%= event.format_date %></td>
                  <td><%= event.isMandatory%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col right">
          <table class="table table-striped" summary="Event detail view">            
          <h1>Service:</h1>
          <br>
          <h4 class="
          <% if s_val >= 15 %>
          <%= 'reactive_color_green' %>
          <% elsif s_val >= 6 %>
          <%= 'reactive_color_yellow' %>
          <% else %>
          <%= 'reactive_color_red' %>
          <% end %>
          ">Approved Hours: <%= s_val %></h4>          
          <h2>Requests</h2>    
            <thead>
              <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Number of Hours</th>
                <th>Approved</th>
              </tr>
            </thead>
            <tbody>
              <% @service_hours.each do |service| %>
                <tr>
                  <td><%= service.description %></td>
                  <td><%= service.format_date %></td>
                  <td><%= service.hours %></td>
                  <td><%= image_tag service.approved_img_path, height: 30 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
