<% if members.length() == 0 %>
<p>There are no members yet!</p>
<% else %>


<table class="table table-striped" summary="Member list">
<tr class="header">
  <th>
  <% if params[:sort] != "name" %>
  <%= link_to "Name", :sort => "name", :reverse => false %>
  <% elsif params[:sort] == "name"%>  
  <%= link_to "Name", :sort => "name", :reverse => (!@reverse) %> &<%= sort_arrow %>  
  <% else %>
  <%= link_to "Name", :sort => "name", :reverse => false %>
  <% end %>
  </th>
  <th>
  <% if params[:sort] == "email" %>  
  <%= link_to "Email", :sort => "email", :reverse => (!@reverse) %> &<%= sort_arrow %>  
  <% else %>
  <%= link_to "Email", :sort => "email", :reverse => false %>
  <% end %>
  
  <th>
  <% if params[:sort] == "pp" %>  
  <%= link_to "PP", :sort => "pp", :reverse => (!@reverse) %> &<%= sort_arrow %>  
  <% else %>
  <%= link_to "PP", :sort => "pp", :reverse => false %>
  <% end %>

  
  <th>
  <% if params[:sort] == "mm" %>  
  <%= link_to "Missed Mandatory", :sort => "mm", :reverse => (!@reverse) %> &<%= sort_arrow %>  
  <% else %>
  <%= link_to "Missed Mandatory", :sort => "mm", :reverse => false %>
  <% end %>
  
     
  <th>
  <% if params[:sort] == "hours" %>  
  <%= link_to "Hours", :sort => "hours", :reverse => (!@reverse) %> &<%= sort_arrow %>  
  <% else %>
  <%= link_to "Hours", :sort => "hours", :reverse => false %>
  <% end %>
  
</tr>
<% members.reject(&:isAdmin).each do |member| %>
<tr class="item">
  <td><%= member.name %></td>
  <td><%= member.email %></td>
<% if @past_events.length() != 0 %>
<% pp_val = member.get_pp() %>
<% else %>
<% pp_val = 100 %>
<% end %>
<% mm_val = member.get_mm().to_i %>
<% s_val = member.sort_service %>
<td class="<% if pp_val > 60 %>
          <%= 'reactive_color_green' %>
          <% elsif pp_val > 30 %>
          <%= 'reactive_color_yellow' %>
          <% else %>
          <%= 'reactive_color_red' %>
          <% end %>
          ">
  <% if @past_events.length() == 0 %>
        No events have occured!
        <% else %>
        <%= pp_val %>%
        <% end %>
  </td>
  <td class="<% if mm_val >= 6 %>
    <%= 'reactive_color_red' %>
    <% elsif mm_val > 3 %>
    <%= 'reactive_color_yellow' %>
    <% else %>
    <%= 'reactive_color_green' %>
    <% end %>
    ">
  <% if @past_events.length() == 0 %>
        No events have occured!
        <% else %>
      
        <%= member.sort_mm(uid: member.uid) %>
        <% end %>
  </td>
  <td class="
<% if s_val >= 15 %>
<%= 'reactive_color_green' %>
<% elsif s_val >= 6 %>
<%= 'reactive_color_yellow' %>
<% else %>
<%= 'reactive_color_red' %>
<% end %>
">
  <%= s_val %></td>
  
  

<td>        
  <div><%= link_to("Details", member_path(member), :class => 'action show') %></div>
  <% if !member.isAdmin %>
  <div><%= link_to("Make Admin", edit_member_path(member), :class => 'action edit') %></div>
  <%else%>
  <div><%= link_to("Make Member", edit_member_path(member), :class => 'action edit') %></div>
  <% end %>
  
  
</td>
</tr>
<% end %>
<% end %>
</table>