<% content_for(:html_title) {"Member Summary" } %>
<%= link_to("<< Back to Members", member_index_path, :class => 'back-link') %>

<div class="service show">
  <h1><%=@member.name%></h1>  
  <table class="table table-striped" summary="Member detail view">
    <tr>
      <th>Email</th>
      <td><%=@member.email%></td>
    </tr>
    <tr>
      <th>Admin Account?</th>
      <td>
      <% if @member.isAdmin %>
      Yes
      <% else %>
      No
      <% end %>
      </td>
    </tr>
    <tr>
      <th>Total Service Hours</th>
      <td><%= @member.sort_service %></td>
    </tr>
    <tr>
      <th>Participation Percentage</th>
      <td>
        <% if @past_events.length() == 0 %>
        No events have occured!
        <% else %>
        <%= @member.sort_pp %>%
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Missed Mandatory Events</th>
      <td>
      <% if @past_events.length() == 0 %>
        No events have occured!
        <% else %>
      
        <%= @member.sort_mm(uid: @member.uid) %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

