
<nav class="ml-2 navbar navbar-dark bg-dark navbar-expand-md" style="padding: 0;">
  <a class="navbar-brand" href="/">Century Mens Society</a>
  <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Service Hours", services_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Events", events_path, class: "nav-link"  %>
      </li>
      <% if current_member.isAdmin? %>
        <li class="nav-item">
          <%= link_to "Whitelist", whitelists_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Members", member_index_path, class: "nav-link"  %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_member_session_path, class: "nav-link"  %>
      </li>
      
    </ul>
  </div>
</nav>